@using Stockboy.Models

@model TableModel

@addTagHelper *, Stockboy
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	Layout = "~/Layouts/Main.cshtml";
	ViewData ["Title"] = "Home";
}

@section Scripts {
	<script>

		function lookup_stock () {
			fetch ("/lookup", {
				method: "post",
				headers: { "content-type": "application/json" },
				body: JSON.stringify ({ ticker: document.getElementById ("stock_ticker").value })
			}).then (response => response.json ()).then (response => {
				alert ("value is " + response.value);
			});
		}

	</script>
}

<div class="with-lotsa-headspace">
	<input type="text" id="stock_ticker" />
	<button id="stock_lookup_button" onclick="lookup_stock ()">Lookup</button>
</div>

<div id="current_holdings" class="table-container with-headspace" endpoint="UpdateHoldings">
	<partial name="Partials/Holdings" model="Model" />
</div>

<div class="button-bar">
	<button id="add_ticker" onclick="return show_popup ('popup_window', 'TickerForm')">Add Ticker</button>
	<button id="add_broker" onclick="return show_popup ('popup_window', 'BrokerForm')">Add Broker</button>
	<button id="add_purchase" onclick="return show_popup ('popup_window', 'CreatePurchaseForm')">Add Purchase</button>
</div>

