@using Stockboy.Models

@model List<PurchaseData>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	Layout = "~/Layouts/Main.cshtml";
	ViewData ["Title"] = "Purchases";
}

<div id="purchases_table" class="with-headspace" endpoint="UpdatePurchases">
	<partial name="Partials/Purchases" model="Model" />
</div>

<div class="button-bar">
	<button id="add_purchase" onclick="return show_popup ('popup_window', 'PurchaseForm')">Add Purchase</button>
</div>
