@using Stockboy.Models

@model TableModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	Layout = "~/Layouts/Main.cshtml";
	ViewData ["Title"] = "Tickers";
}

<div id="tickers_table" class="table-container with-headspace" endpoint="UpdateTickers">
	<partial name="Partials/Tickers" model="Model" />
</div>

<div class="button-bar">
	<button id="add_ticker" onclick="return show_popup ('popup_window', 'TickerForm')">Add Ticker</button>
</div>
