:root {
  --border-color: #000;
  --element-border-color: #DDF;
  --highlight-color: #FFFDDD;
  --selected-color: #DDF;
  --table-border: solid 1px var(--element-border-color);
  --table-header-background: #EFEFFF;
  --popup-border: solid 1px #889;
  --element-background-color: #FFFFF8;
  --dropdown-arrow-color: #DDF;
  --sort-arrow-color: #888;
}

/**** Debugging Styles ****/
*.bordered, *.bordered * {
  border: solid 1px red;
}

/********/
html, body, *.full-page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 9pt;
}

label {
  font-weight: bold;
}

button, input[type=text] {
  border: solid 1px var(--border-color);
  border-radius: 100px;
  background-color: white;
  padding: 0.5em 0.75em;
}

button {
  cursor: pointer;
}

/********/
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

*.row-centered {
  display: flex;
  justify-content: center;
}

*.column-centered {
  display: flex;
  align-items: center;
}

*.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

*.right-aligned {
  display: flex;
  justify-content: flex-end;
}

*.with-headspace {
  margin-top: 1em;
}

*.with-lotsa-headspace {
  margin-top: 2em;
}

/********/
div.main-menu {
  display: flex;
  column-gap: 0.5rem;
}

div.main-menu-item, a.main-menu-item {
  font-size: 12pt;
  color: black;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 0.25rem;
}

a.main-menu-item:hover {
  background-color: #CCC;
}

div.main-menu-item[selected] {
  background-color: #888;
  color: #EEE;
}

/********/
div.header {
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  border-bottom: solid 1px var(--border-color);
}

div.button-bar {
  display: flex;
  column-gap: 0.25rem;
  justify-content: flex-end;
  margin-top: 1rem;
}

div.glyph-arrow {
  width: 0;
  height: 0;
  border: solid 0.5rem transparent;
  border-bottom-width: 0;
  border-top-color: var(--dropdown-arrow-color);
  cursor: pointer;
}

div.glyph-arrow.sort-arrow {
  border-top-color: var(--sort-arrow-color);
}

/********/
div.form-table {
  display: inline-grid;
  grid-template-columns: min-content 1fr;
  row-gap: 0.5em;
}

div.form-table label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  margin-right: 0.2em;
}

/********/
div.popup-window {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%);
  padding: 2em;
  border: var(--popup-border);
  border-radius: 0.2rem;
  filter: drop-shadow(0.15em 0.15em 0.1em #666);
  background-color: #FFFFFD;
  transition: opacity 0.25s ease-in-out;
}
div.popup-window [name=eyecandy] {
  height: 1em;
  width: auto;
  position: relative;
  top: 0.15em;
}
