@using Stockboy.Models

@model TableModel
@addTagHelper *, Stockboy


<script>

	var show_history = symbol => load_page ("TransactionHistory", "main_body", { text: symbol });

	function lookup_stock () {
		fetch ("/lookup", {
			method: "post",
			headers: { "content-type": "application/json" },
			body: JSON.stringify({ ticker: document.getElementById("stock_ticker").value })
		}).then(response => response.json()).then(response => {
			alert("value is " + response.value);
		});
	}

</script>

<div>
	<input type="text" id="stock_ticker" />
	<button id="stock_lookup_button" onclick="lookup_stock ()">Lookup</button>
</div>

<div class="with-headspace">
	<data-table id="holdings-table" data="@Model" totals="cost, value, profit" order="broker, symbol, asset, quantity, price, cost, value, profit" onclick="show_history ({{ symbol }})" />
</div>

<div class="button-bar">
	<button id="add_ticker" onclick="return show_popup ('popup_window', 'TickerForm')">Add Ticker</button>
	<button id="add_broker" onclick="return show_popup ('popup_window', 'BrokerForm')">Add Broker</button>
	<button id="add_purchase" onclick="return show_popup ('popup_window', 'TransactionForm')">Add Transaction</button>
</div>

