@using Stockboy.Models

@model TableModel

@addTagHelper *, Stockboy
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	Layout = "~/Views/Layouts/Main.cshtml";
	ViewData ["Title"] = "Home";
}


<div id="current_holdings" class="table-container with-headspace" endpoint="UpdateHoldings">
	<partial name="Partials/Holdings" model="Model" />
</div>


