<script>
	document.onreadystatechange = () => {
		if (document.readyState == "complete") alert("complete");
	}
</script>

This is a test<br />
<button onclick="alert (document.readyState);">Doit</button>