@model DeletePopupModel

Delete ${selected_row ('transactions_list).children [6].innerHTML} of ${document.getElementById ('company_name').innerHTML}.<br />
This action cannot be undone. Are you sure?<br />
<br />
(Last chance to chicken out)<br />
<br />
<div class="button-bar">
	<button>Yes</button>
	<button>No</button>
</div>