:root {
	--border-color: #000;
	--highlight-color: #FFFDDD;
	--selected-color: #DDF;
	--table-border: solid 1px #DDF;
	--table-header-background: #EFEFFF;
	--popup-border: solid 1px #889;
}


/********/


*.bordered, *.bordered * { border: solid 1px red }


/********/


html, body, *.full-page {
	width: 100%;
	height: 100%;
	margin: 0; padding: 0;
}


body {
	display: flex;
	flex-direction: column;
	font-size: 9pt;
}


label { font-weight: bold }


/********/


* { 
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}


*.row-centered {
	display: flex;
	justify-content: center;
}


*.column-centered {
	display: flex;
	align-items: center;
}


*.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}


*.right-aligned {
	display: flex;
	justify-content: flex-end;
}


*.with-headspace { margin-top: 1em }

*.with-lotsa-headspace { margin-top: 2em }


/********/


div.data-table {
	display: inline-grid;
	border-top: var(--table-border);
	border-left: var(--table-border);
	white-space: nowrap;
}


div.data-table div.header {
	font-weight: bold;
	display: contents;
}


div.data-table div.header div {
	background-color: var(--table-header-background);
	cursor: pointer;
}


div.data-table div {
	border-right: var(--table-border);
	border-bottom: var(--table-border);
	padding: 0.25em 0.5em;
}


/********/


div.header {
	width: 100%;
	height: 5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 2em;
	border-bottom: solid 1px var(--border-color);
}


div.button-bar {
	display: flex;
	column-gap: 0.25rem;
	justify-content: flex-end;
	margin-top: 1rem;
}


/********/


div.form-table {
	display: inline-grid;
	grid-template-columns: min-content 1fr;
	row-gap: 0.5em;
}

div.form-table label {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	white-space: nowrap;
	margin-right: 0.2em;
}


/********/


div.popup-window {
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translate(-50%);
	padding: 2em;
	border: var(--popup-border);
	border-radius: 0.2rem;
	filter: drop-shadow(0.15em 0.15em 0.1em #666);
	background-color: #FFFFFD;
	transition: opacity 0.25s ease-in-out;

	[name="eyecandy"] {
		height: 1em;
		width: auto;
		position: relative;
		top: 0.15em;
	}
}