/**** Control Styles ****/
input, select, button {
  background-color: white;
  border: solid 1px var(--border-color);
  border-radius: 1rem !important;
  height: 1.2rem;
  padding: 0 0.6rem !important;
}

button {
  min-width: 4.5rem;
  cursor: pointer;
}
button:hover {
  background-color: var(--selected-color);
}

/**** Input Styles ****/
input, select, textarea {
  outline: none;
}

/**** Checkbox Select List ****/
div.checkbox-select-list {
  display: inline-flex;
}

div.checkbox-select-list div.list-header {
  justify-content: space-between;
  align-items: center;
  border: solid 1px var(--element-border-color);
  padding: 0.5rem 1rem;
  width: 100%;
}

div.checkbox-select-list div.list {
  position: absolute;
  top: 100%;
  background-color: var(--element-background-color);
  border: solid 1px var(--element-border-color);
  border-top: none;
  z-index: 1;
  overflow: hidden;
}

/**** Form Styles ****/
div.linear-form {
  column-gap: 0.25rem;
}

form select {
  padding: 0 6px !important;
}

input[type=numeric], input[type=currency] {
  text-align: right;
}

/**** Data Table Styles ****/
div.data-table {
  display: inline-grid;
}
div.data-table div.table-header {
  display: contents;
}
div.data-table div.table-header > div {
  flex-direction: row;
  font-weight: bold;
  min-width: 5em;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 2em;
  border: var(--table-border);
  border-top: solid 2px var(--element-border-color);
  border-bottom: solid 2px var(--element-border-color);
  background-color: var(--table-header-background);
  cursor: pointer;
  position: sticky;
  z-index: 1;
  top: 0;
}
div.data-table div:not(.glyph-arrow) {
  border-right: var(--table-border);
  border-bottom: var(--table-border);
  padding: 0.25em 0.5em;
}
div.data-table div.table-row {
  display: contents;
}
div.data-table div.table-row > div {
  cursor: pointer;
}
div.data-table div.table-row > div:nth-child(2) {
  border-left: var(--table-border);
}
div.data-table div.table-row.selected > div {
  background-color: var(--selected-color);
}
div.data-table div.table-row.highlighted:not(div.table-row.selected) > div {
  background-color: var(--highlight-color);
}
div.data-table div.table-row.footer {
  font-weight: bold;
}
div.data-table div[field] {
  justify-content: space-between;
}
div.data-table div[field] *:not(.glyph-arrow) {
  border: none;
}

/* div.data-table */
div.table-row > div.keys {
  display: none;
}

/**** Menu Styles ****/
div.main-menu {
  column-gap: 0.5rem;
}

div.main-menu-item {
  font-size: 12pt;
  color: black;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 0.25rem;
}

div.main-menu-item:hover {
  cursor: pointer;
  background-color: #CCC;
}

div.main-menu-item.selected {
  background-color: #888;
  color: #EEE;
}

div.main-menu-item.selected:hover {
  cursor: auto;
}
