@import "Common/Controls/EditList.scss";


/**** Control Styles ****/


input, select, button {
	background-color: white;
	border: solid 1px var(--border-color);
	border-radius: 1rem !important;
	height: 1.2rem;
	padding: 0 0.6rem !important;
}


button {
	min-width: 4.5rem;
	cursor: pointer;
	&:hover { background-color: var(--selected-color) }
}


/**** Input Styles ****/


input, select, textarea { outline: none }


/**** Checkbox Select List Styles ****/


div.checkbox-select-list { display: inline-flex }


div.checkbox-select-list div.list-header {
	justify-content: space-between;
	align-items: center;
	border: solid 1px var(--element-border-color);
	padding: 0.5rem 1rem;
	width: 100%;
}


div.checkbox-select-list div.list {
	position: absolute;
	top: 100%;
	background-color: var(--element-background-color);
	border: solid 1px var(--element-border-color);
	border-top: none;
	z-index: 1;
	overflow: hidden;
}


/**** Form Styles ****/


div.linear-form { column-gap: 0.25rem }


form select { padding: 0 6px !important }


input[type=numeric], input[type=currency] { text-align: right }


/**** Data Table Styles ****/


div.data-table {

	display: inline-grid;

	div.table-header {
		display: contents;

		> div {
			display: flex;
			flex-direction: row;
			font-weight: bold;
			min-width: 5em;
			align-items: center;
			justify-content: space-evenly;
			padding: 0.25rem 2em;
			border: var(--table-border);
			border-top: solid 2px var(--element-border-color);
			border-bottom: solid 2px var(--element-border-color);
			background-color: var(--table-header-background-color);
			cursor: pointer;
			position: sticky;
			z-index: 1;
			top: 0;
		}
	}


	div.table-footer {

		font-weight: bold;
		display: contents;

		> div {
			background-color: var(--table-footer-background-color);
			border-top: solid 1px var(--element-border-color);
			border-left: none;
			border-right: none;

			bottom: 0;
			position: sticky;
		}

		> div:last-child { border-right: solid 1px var(--element-border-color) }
		> div.data-cell { border-left: solid 1px var(--element-border-color) }

	}


	div:not(.glyph-arrow) {
		border-right: var(--table-border);
		border-bottom: var(--table-border);
		padding: 0.25em 0.5em;
	}


	div.table-row { display: contents }


	div.table-row > div { cursor: pointer }


	div.table-row > div:nth-child(1), div.table-row > div.keys + div { border-left: var(--table-border) }


	div.table-row.selected > div { background-color: var(--selected-color) }
	div.table-row.highlighted:not(div.table-row.selected) > div { background-color: var(--highlight-color) }


	div.table-row.footer { font-weight: bold }


	div[field] { justify-content: space-between }
	div[field] *:not(.glyph-arrow) { border: none }
}


div.table-row > div.keys { display: none }


/**** Menu Styles ****/


div.main-menu { column-gap: 0.5rem }

div.main-menu-item {
	font-size: 12pt;
	color: black;
	text-decoration: none;
	padding: 0.2em 0.5em;
	border-radius: 0.25rem;
}

div.main-menu-item:hover {
	cursor: pointer;
	background-color: #CCC;
}

div.main-menu-item.selected {
	background-color: #888;
	color: #EEE;
}

div.main-menu-item.selected:hover {
	cursor: auto
}


/**** Glyph Arrow Style ****/


div.glyph-arrow {
	width: 0;
	height: 0;
	border: solid 0.5rem transparent;
	border-bottom-width: solid 0.5rem var(--glyph-arrow-color);
	border-top-color: var(--sort-arrow-color);
	cursor: pointer;
	margin-left: 0.5rem;
}